fastapi[standard]
pydantic
pydantic-settings
uvicorn
celery
redis
psycopg2-binary
sqlalchemy
beautifulsoup4
requests
PyPDF2
langchain
langchain-community
langchain-google-genai
scikit-learn
scipy
python-multipart
pytest
duckduckgo-search
html2text
langchain-groq
playwright
